:root {
    --color-white: #edf5e1;
    --color-green: #5cdb95;
    --color-light-green: #8ee4af;
    --color-light-blue: #379683;
    --color-dark-blue: #05386b;
}

body {
    margin: 0;
    font-family: sans-serif;
}

/****************************************************************************
helpers */

/**
 *
 * font helpers 
 *
 */
.title--font-size-sm {
    font-size: 20px;
}

.title--font-size-mds {
    font-size: 25px;
}

.title--font-size-md {
    font-size: 30px;
    font-weight: 600;
}

.title--font-size-lg {
    font-size: 40px;
    font-weight: 800;
}

.oblique-text {
    font-style: oblique;
}

.center-text {
    text-align: center;
}

/**
 * 
 * colors helpers 
 *
 */
.bg-color--grey {
    background-color: #aaa;
}

.bg-color--white {
    background-color: var(--color-white);
}

.bg-color--blue {
    background-color: var(--color-dark-blue);
}

.bg-color--light-blue {
    background-color: var(--color-light-blue);
}

.bg-color--green {
    background-color: var(--color-green);
}

.bg-color--light-green {
    background-color: var(--color-light-green);
}

/**
 *
 * padding helpers 
 *
 */
.section-margin-md {
    margin: 60px 0;
}
/****************************************************************************
SIDE BAR */
.sidebar {
    margin: 0;
    padding: 20px;
    height: 100%;
    width: 310px;
    position: fixed;
    color: var(--color-white);
}

.sidebar hr {
    height: 5px; 
    background: grey; 
    border: none;
    border-radius: 5px;
}

.sidebar img {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    color: var(--color-swamp);
	width: 200px;
	height: 230px;
    border-radius: 15%;
}

.sidebar a {
    display: block;
    color: black;
    font-size: 25px;
    padding: 20px 0;
    text-decoration: none;
    color: var(--color-white);
}
   
.sidebar a.active {
    text-decoration: underline;
}

div.content {
    margin-left: 350px;
    padding: 1px 20px;
}

.project-heading {
    margin-left: 350px;
    padding: 30px;
}

@media screen and (max-width: 700px) {
    .sidebar {
    padding: 20px 0;
    width: 100%;
    height: auto;
    position: relative;
    border: 0;
    border-bottom: 4px solid var(--color-black); 
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

    .sidebar {
        padding-top: 20px;
    }

    .sidebar a {
        float: none;
    }

    .sidebar hr {
        width: 90%;
    }
    
    .project-heading {
        margin: 0 0;
    }

    .project {
        padding: 0 20px;
    }

    .project h5 {
        margin: 10px 0;
        font-size: 16px;
    }

    .panel {
        padding: 0 35px;
    }
}

/****************************************************************************
project  */
.line {
    border-bottom: 4px solid var(--color-dark-blue);
    width: 30%;
    margin: 0 auto 30px;
}

.project {
    padding: 0;
}

.project h5 {
    margin: 10px;
}

.accordion {
    background-color: #eee;
    cursor: pointer;
    padding: 25px;
    border-radius: 20px;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #ccc; 
}
  
.panel {
    font-size: 18px;
    padding: 0 10px;
    display: none;
    overflow: hidden;
    margin: 0 25px;
}

.carrot {
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 6px;
    float: right;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease; 
} 

.carrot.active {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.panel {
    display: none;
}

.panel.active {
    display: block;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}