:root {
    --color-white: #edf5e1;
    --color-green: #5cdb95;
    --color-light-green: #8ee4af;
    --color-light-blue: #379683;
    --color-dark-blue: #05386b;
}

.center-text {
    text-align: center;
}

body {
    margin: 0;
    font-family: sans-serif;
}

/****************************************************************************
font sizes */
.title--font-size-sm {
    font-size: 20px;
}

.title--font-size-mds {
    font-size: 25px;
}

.title--font-size-md {
    font-size: 30px;
}

.title--font-size-lg {
    font-size: 40px;
    font-weight: 800;
}

/****************************************************************************
colors */
.text-color--green {
    /* color: #00887a; */
}

.bg-color--white {
    background-color: var(--color-white);
}

.bg-color--blue {
    background-color: var(--color-dark-blue);
}

.bg-color--light-blue {
    background-color: var(--color-light-blue);
}

.bg-color--green {
    background-color: var(--color-green);
}

.bg-color--light-green {
    background-color: var(--color-light-green);
}
/****************************************************************************
side bar */
.sidebar {
    margin: 0;
    padding: 20px;
    height: 100%;
    width: 310px;
    position: fixed;
    color: var(--color-white);
    /* border-right: 6px solid var(--color-dark-blue); */
}

.sidebar img {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    color: var(--color-swamp);
	width: 200px;
	height: 230px;
    border-radius: 15%;
}

.sidebar a {
    display: block;
    color: black;
    font-size: 25px;
    padding: 20px 0;
    text-decoration: none;
    color: var(--color-white);
}
   
.sidebar a.active {
    text-decoration: underline;
}

div.content {
    margin-left: 350px;
    padding: 1px 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    padding: 10px;
}

@media screen and (max-width: 700px) {
    .sidebar {
    padding: 0px;
    width: 100%;
    height: auto;
    position: relative;
    border: 0;
    border-bottom: 4px solid var(--color-black); 
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

    .sidebar {
        padding-top: 20px;
    }

    .sidebar a {
        float: none;
    }

    .sidebar hr {
        width: 90%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 0;
        padding: 0;
    }
}

/****************************************************************************
project  */
.project {
    border: 4px solid var();
    padding: 0 20px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-radius: 20px;
    /* background-color: #5cdb95; */
    /* border: 5px solid #05386b; */
}
